/node_modules
/public/hot
/public/storage
/public/providers
/public/images
/public/*.zip
/*.zip
/public/*.mp4
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
