/* latin-ext */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v1/7cHpv4kjgoGqM7E_Ass52Hs.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v1/7cHpv4kjgoGqM7E_DMs5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Barlow', sans-serif;
}

.first-color{
  color: #e7004b;
}

.secondary-color{
  color: #000033;
}

.white{
  color: white;
}

.dropdown-item.active, .dropdown-item:active{
background-color: #e7004b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus
{
  box-shadow: none;
}


.btn-danger,
.btn-primary,
.nav-pills .nav-link.active,
.btn-primary.disabled, .btn-primary:disabled{
    background-color: #e7004b;
    border-color: #e7004b;
}


 {
    background-color: #e7004b;
    border-color: #e7004b;
}

.btn-danger:hover,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger:link,
.btn-danger:active,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:link,
.btn-primary:active,.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background: #e7004b;
    border-color: #e7004b;
    box-shadow: none;
}

.btn-company {
    position: absolute;
    width: 90%!important;
    bottom: 30px;
}

.btn-evaluate {
    position: absolute;
    width: 90%!important;
    bottom: 13px;
}

.badge-info {
    background-color: #000033;
}

.badge-success {
    background-color: #999!important;
    padding: 0.5em;
    margin-bottom: .2em;
    font-weight: normal;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: #1abc9c;
    }
  }

  &:active::-webkit-slider-thumb {
    background: #1abc9c;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: #1abc9c;
    }
  }

  &:active::-moz-range-thumb {
    background: #1abc9c;
  }

  // Focus state
  &:focus {

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px #fff,
                  0 0 0 6px #1abc9c;
    }
  }
}


// Range Label
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }
}


// Firefox Overrides
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
}

.counter {
    background-color: #666;
}
.counter-overlay {
    padding-top: 120px;
    padding-bottom: 120px;

}
.counter-item i {
    color: #000;
    font-size: 60px;
}
.counter-item h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p {
    color: #000;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}


body {
    width: 100%!important;
    margin: 0 auto;
    display: flex;
  flex-direction: column;
}


.menu {
    position: fixed;
    z-index: 1000;
    background: white;
}

.menu-container {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link{
  color: #000033!important;
}

.nav-link.active-menu{
  color:#e7004b!important;
}

.nav-link:hover{
  color: #e7004b!important;
}


.slider-home {
    padding-top: 117px;
    width: 100%;
    margin: 0 auto;

}

.carousel-item img {
  max-height: 500px!important;
  min-width: auto;
}

.carousel-caption.d-none.d-md-block {
    margin-bottom: 150px!important;
}

.carousel-caption.d-none.d-md-block h5{
    font-size: 35px;
    text-transform: uppercase;
}

.instances {
    width: 70%;
    margin:0 auto;
}

.section-title{
  font-size: 1.5rem;
}

.section-title p {
    font-size: 24px;
    text-align: left;
    margin-bottom: 30px;
}

.section {
    margin-top:90px;
    padding-left: 0;
    padding-right: 0;
}

.section-after-video {
    margin-top:135px;
    padding-left: 0;
    padding-right: 0;
}

.footer-service, .footer-provider {
    height: 50px;
    background-color: rgba(0, 0, 51, 1);
    color: #FFFFFF;
    margin-bottom: 20px;
}

.service a:hover{
  text-decoration: none;
}

.footer-service p , .footer-provider p {
    padding-top: 10px;
    text-align: center;
}

#remove-row {
    margin-bottom: 50px;
}

#load-data img:hover{
    background-color: rgba(45,23,3,0.6);
}

.plus {
    width: 70%;
    margin: 0 auto;
}

.plus p {
    line-height: 21px;
    font-size: 18px;
}

.provider {
    width: 70%;
    margin: 0 auto;
}

.provider {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-provider:hover .image {
  opacity: 0.3;
}

.image-provider:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.footer {
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
  background-color: #000033;
  color: #bbbbbb;
  padding-bottom: 80px;
}


.footer-item{
}



.footer-container ul {
    list-style: none;
    padding-left: 10px;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    margin-top: -10px;
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: 10px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: 10px;
}


.footer-container {
  display: flex;
  justify-content: space-between;
}


.modal-home {
  max-width: 60%!important;
}

.activity {
  maring: 0 auto;
}

.modal-title{
  display: inline-flex;
    text-align: justify;
    margin-top: 10px;
}

.banner {
  width: 100%;
  height: 232px;
}

.banner-left {
   display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: column;
    height: 232px;
    text-align: center;
    background-color: #000033;
}
.averigua {
  font-family: inherit;
  color: white;
}

.btn-averigua {
  position: relative;
  width: 80%;
  height: 50px;
}
.txt-center{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.rentabilidad {
  display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
    font-size: 13px;
    color: black;
}

.divider {
  color: #d2d2d2;
  height : 10px;
  border: solid;
  border-left: 0;
  border-right: 0;
  background-color: #d2d2d2;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0!important;
  padding-right: 0!important;
}

.columns {
  margin-top: 80px;
}


.vertical-line {
  border-right: 1px solid rgba(160, 160, 159, 0.2)
}

.column-provider{
  margin-bottom: 30px;
}

.provider-title {
  font-size: 19px;
  color: initial;
}

.provider-services {
  font-size: 15px;
  max-height: 100px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
}

.provider-data{
  text-align: left;
}

.image-column-provider{
  height: 210px;
}

.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
}

.banner-title {
    width:100%!important;
}

.title-banner {
  font-size: 4.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-title .title{
  color: #FFF;
  text-align: center;
}




.filters {
  margin-top: 40px;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 240px!important;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 30px;
    background-position: 50% 50%;
}

.image-column {
  max-height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-case {
    width: 100%;
    height: 300px!important;
}

.image-case-preview {
    width: 100%;
    height: 214px!important;
}

.op08 {
    opacity: 0.8;
}

.corner{
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 15px;
  background-color: #e7004b;
  padding: 10px 0 10px 10px;
  padding-right: 20px;
  margin-right: 60px;
  border-radius: 0 0 15px 0;
  text-decoration: none;
  color: white;
  font-size: .8rem;
}

.corner:link, .corner:visited, .corner:hover, .corner:active  {
  text-decoration: none;
  color: white;
}

.image-service {
  opacity: .4;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  max-height: 200px;
}

.small {
    position: absolute;
    bottom: 0;
}

.text-instance {
    font-size: 171px;
    font-family: 'Barlow', sans-serif;
    color: white;
    font-weight: bold;
    text-align: right;
  letter-spacing: -11px;
}

.percentage-instance {
    font-size: 52px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.description-instance {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-style: italic;
     line-height: 25px;
    padding-right: 30px;
}

.box-instance {
    display: flex;
    align-items: center;
}

.text-instance-small {
  font-size: 90px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: -11px;
  font-style: italic;
    text-align: right;
}

.percentage-instance-small {
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: white;
    font-style: italic;
    margin-left: 10px;

}

.description-instance-small {
    text-decoration: none;
    font-size: 16px;
    color: white;
    line-height: 18px;
    font-style: italic;
    margin-left: 10px;
    padding-right: 20px;
}

.cicle {
  margin-top: 50px;
}

.image-cicle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cicle-container {
  margin-left: 250px;
  margin-top: 20px;
}

.cicle-text {
  vertical-align: top;
  display: inline-block;
  width: 18%;
  text-align: justify;
  padding-right: 10px;
}

.cicle-text h3 {
  font-size: 16px;
  color: black;
}

.cicle-text p {
  font-size: 12px;
  color: gray;
}

.columns-evaluate h2{
  font-size: 24px;
}

.left-column {
  position: relative;
}

.dffdcjcsb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 5px;
}

.filters .col-md-3 {
  padding: 3px !important;
}

.mb-providers{
  margin-bottom: 2rem!important;
}

.service h3{
  background: lightgray;
  height: 60px;
  color: #000033;
  text-align: center;
  font-size: 15px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 15px;
}

.service-filter{
  color: #000033!important;
}

.service-filter:hover{
  color: #e7004b!important;
}

.service ul{
  margin-top: 10px;
  padding-left: 10px;
}
.service ul li{
  color: #2F2E2E;
  list-style: none;
  font-size: 12px;
}
.selected{
    background-color: #e7004b;
    color: white!important;
}

.selected:hover{
    color: white!important;
}
.service ul li a{
  text-decoration: none;
  text-decoration-color:
}

.service ul li a:link{
  text-decoration: none;

}
.service ul li a:visited{
  text-decoration: none;

}
.service ul li a:active{
  text-decoration: none;

}
.service ul li a:hover{
  text-decoration: none;
}
.service ul li a {
  text-decoration: none;
}

.w-100-h-200{
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.image-provider {
  opacity: .8;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-provider {
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 8%;
  right: 8%;
  text-align: center;
}

.text-provider {
  color: black;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: bold;
}


.header-provider{
  margin-top: 130px;
}

.provider-image {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.provider-btn {
margin-top: 1.4rem;
}

.provider-contact{
  margin-top: 15px;
  display: none;
}

.case-btn{
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}


.middle-provider-case {
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 8%;
  right: 8%;
  text-align: center;
}

.text-provider-case {
  width: 80%;
  margin: 0 auto;
  background: rgba(76, 175, 80, 0.6);
  color: white;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: bold;
}

.case-image {
  width: 100%;
  max-height: 350px;
  opacity: .6;
}

.middle-case {
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 8%;
  right: 8%;
  text-align: center;
}

.text-case {
  margin: 0 auto;
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4;
}

.text-case-preview {
  margin: 0 auto;
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4;
  transform: translate(0, -25%);
}

.login-container {
  margin-top: 140px;
}

/*PROGRESSBAR*/

.container-progressbar {
      width: 600px;
      margin: 0 auto;
  }
  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
  }
  .progressbar li:before {
      width: 50px;
      height: 50px;
      content: counter(step);
      counter-increment: step;
      line-height: 50px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
      color: black;
  }
  .progressbar li:after {
      width: 100%;
      height: 4px;
      content: '';
      position: absolute;
      background-color: green;
      top: 25px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: green;
  }
  .progressbar li.active:before {
      /*border-color: #55b776;*/
      background: green;
      border: none;
      color: white;
  }
  .progressbar li.active + li:after {
      background-color: #55b776;
  }
  .progressbar li p {
      color: black;
      text-transform: initial;
      text-align: justify;
      text-justify: inter-word;
      font-size: 11px;
  }

  .company-dashboard {
    margin-top: 160px;
  }

  .progressbar-text{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

  }

   .form {
    margin-top: 160px;
  }

    .surveys-container {
    margin-top: 120px;
  }

  .after-menu{
    margin-top: 117px;
  }

.modal-survey{
  max-width: 90%!important;
  max-height: 100vh;
}


.btn-register{
  color: white!important;
  top:0;
}


.btn-register:hover{
  color: white!important;
  top:0;
}


.video-container{
  display: none;
}

@media (min-width: 990px) { 
  .video-container{
    display: initial;
    position: relative;
  }
  .mobile{
    display: none;
  }
  .menu{
    display: initial;
  }
  .soon{
    display: initial;
  }

.porcentaje-grande{
  font-size: 3rem;
  color: white;
}
.div1-grande {
  line-height: 1;
  flex: 1 1 auto;
  font-size: 1.8rem;
  margin-top: 4.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-style: italic;
  overflow: hidden!important;
}

.div2-grande {
  font-weight: bold;
    letter-spacing: -.3rem;
    flex: 0 0 auto;
    font-size: 9.5rem;
    padding-top: 0;
    margin-right: .7rem;
}

.contenedor{
  display: initial;
    position: relative;
    display: inline-block;
    text-align: center;
}

.display-mobile{
  display: none;
}
  
}

@media (max-width: 990px) { 
/*  .section{
    display: none;
  }
  .mobile{
    display: initial;
  }
  .menu{
    display: none;
  }
  .soon{
    display: none;
  }
*/

  .mobile{
    display: none;
  }

  .section{
    margin-top: 10px;
  }

  .section-title{
    padding: 0 1rem;
  }

  .banner-home{
    margin-top: 2rem;
  }

  .btn-averigua{
    padding-top: .6rem;
  }

  .row-home{
    margin: 0;
  }

  .rentabilidad{
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .text-center-mobile{
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 3rem !important;
  }

  .image-column{
    margin-bottom: 1rem;
  }

  .margin-top-0{
    margin-top: 0!important;
  }
  .margin-bottom-3{
    margin-bottom: 3rem!important;
  }
  .margin-top-3{
    margin-top: 3rem!important;
  }

  .recursos{
    display: none;
  }

  .display-none{
    display: none;
  }

  .display-mobile{
    display: initial;
  }

  .footer-container{
    text-align: center;
    margin-top: 5rem;
  }

  .footer-container > div{
    margin-bottom: 3rem;
  }

  .middle-case{
    display: none;
  }

  .text-case-mobile{
  display: initial;
  font-size: 2rem;
  }

  .text-case-font{
  margin-top: 1rem;
    text-align: center;
  }

  .margin-x{
    padding: 0 1rem;
  }

  .image-container.provider-desktop{
    display: none;
  }

  .provider-mobile{
    display: block!important;
  }

  #provider-btn{
    margin: 1.5rem 0;
  }

  .div1-grande {
    line-height: 1;
    flex: 1 1 auto;
    font-size: 1rem;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    font-style: italic;
  }

  .div2-grande {
  letter-spacing: -0.2rem;
      flex: 0 0 auto;
      font-size: 5rem;
      padding-top: 4.5rem;
      margin-right: 1rem;  
      font-style: italic;
  }

  .porcentaje-grande{
    min-height: .5rem;
    font-size: 2rem;
  }

  .contenedor{
    display: none;
  }

  .filters-desktop{
    display: none;
  }

  .title-filters{
    font-size: 1.5rem;
  }

  .btn-danger.btn-register{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .image-final-survey {
    width: 100%!important;
    margin-top: 0!important;
    display: flex;
    justify-content: center;
}

.btn-send-survey {
    margin-top: 1rem!important;
}

.image-final-survey img {
    width: 40%!important;
}

.message-final {
    font-size: 1.5rem!important;
}

.hidden{
  margin-top: 2rem;
}

}


.text-case-mobile{
  display: none;
}

.provider-mobile{
  display: none;
}

video{
  object-fit: cover;
   height: 100%;
}


  .video-title {
      z-index: 500;
      width: 80%;
      transition: .5s ease;
      position: absolute;
      top: 40vh;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      font-size: 4.3rem;
      font-weight: bold;
      max-height: 50vh;
  }

  .arrowToCases { 
      text-align: center;
      z-index: 500;
      width: 80%;
      transition: .5s ease;
      position: absolute;
      top: 70vh;
      max-height: 70vh;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: white;
  }


@media (min-width: 1281px) { 
  .video-title {
      z-index: 500;
      width: 80%;
      transition: .5s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      font-size: 4.3rem;
      font-weight: bold;
      max-height: 50vh;
  }

  .arrowToCases { 
      text-align: center;
      z-index: 500;
      width: 80%;
      transition: .5s ease;
      position: absolute;
      top: 80%;
      max-height: 70vh;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: white;
  }
}
.angle-d{
  font-size: 3rem;
  width: 30%;
  border: none;
}

.angle-d:hover{
  background-color: inherit;
  color:#e7004b; 
}

.angle-d:target{
  background-color: inherit;
  color:#e7004b; 
}

#bgvid {
    position: relative;
    right: 0;
    bottom: 120px;
    width: 100%;
    overflow: hidden;
}

.share {
    font-size: 40px;
    display: inline;
    margin-top: 40px;
    color: #000033;
}

.tags{
  display: flex;
  flex-flow: wrap;
}

.tags div {
    font-size: 14px;
    font-style: italic;
    padding-right: 20px;
}


//DASHBOARD PROVIDERS


.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {

    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.btn-file{
    position: absolute;
    left: 0;
}

#classifications{
display: none;
}

.link,
.link:hover,
.link:visited,
.link:active
{
  text-decoration: none;
  color: white!important;
}

.link-default,
.link-default:hover,
.link-default:visited,
.link-default:active
{
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1080px) {
  .bigModal{
    margin-top: 100px;
    width:940px;
    right:213px;
  }
  .bigModalPreview{
    margin-top: 100px;
    width:1100px;
    left: -280px;
  }
}

@media (max-width: 1080px) {

/*  *{
    display: none;
  }
  
  .modal.login{
    display: none;
  }
*/

.footer-logos {
    margin-top: -30px;
    justify-content: center!important;


}
}



.login .form-group {
  margin-bottom: .7rem;
}

.login .control-label {
  margin-bottom: 0;
}

 .modal-body.login{
  padding: 0!important;
}

.bottom {
  bottom: -30px;
}


.l-margin{
      padding: 25px 0 10px 0;
}


.r-margin{
    padding: 25px 0 10px 0;
    background-color: #F0F0F0;
    border-radius: 0 0.3rem 0.3rem 0;
}

.close{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
}

#name-error,
#rut-error,
#address-error,
#phone-error,
#classification-error,
#employees-error,
#gain-error,
#email-error,
#password-error,
#password-confirm-error,
#password_confirm-error,
#region-error,
#web-error,
#long_description-error,
#description-error,
#file-input-error,
#teamMembers-error,
#company_name-error,
#year-error,
#quantity-error,
#sentence-error,
#sector-error,
#quote-error,
#file-input-company-error,
#email-register-error,
#password-register-error,
#email-login-error,
#password-login-error,
#commune-error,
#password-confirm-register-error,
#business-error,
#terms-error,
.error-class,
.help-block {
  font-size: .8rem;
  color: #e7004b;
  display: block;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0;
}

.form-control {
  margin-top: .5rem;
}

.horizontal-line {
  color: #d2d2d2;
  height : 0;
  background-color: #d2d2d2;
  margin-top: 65px;
  margin-bottom: 50px;
}

.survey-container{
  position:relative;
  overflow: hidden;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
  background-position: 50% 50%;
}

.provider-logo{
    max-height: 160px!important;
}

.pills-sectors {
    border: 1px solid #d2d2d2;
}

.nav-item .pills-sectors:hover {
    color: inherit!important;
}

.pills-sectors .nav-active {
    border: 0;
}

.nav-pills .nav-link.active{
    color: white!important;
}

/* 
  Uploader: 
  - These styles are the ones used on the examples. No needed to use it by any means.
  - It disables user selection to avoid some weird visuals in some browsers
  - It masks/hides the the file input behind a button
 */

.dm-uploader {
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dm-uploader .btn {
  position: relative;
  overflow: hidden;
}

.dm-uploader .btn input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  width: 100%;
  opacity: .0;
  filter: alpha(opacity= 0);
  cursor: pointer;
}


.align-grid{
  padding-left: 20px!important;
}

.align-grid-r{
  padding-right: 10px!important;
}

.team{
  display: flex;
}

.member {
    font-size: 1.2rem;
}

#team-member{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.remove-member {
  padding-top: 2px;
}

a .row-c{
  color: white;
}

.row-c {
  display:flex;
  width: 100%;
  margin-top: 20px;
  color: white;
}

.sentence{
  overflow: hidden;
}



.div1 {
  line-height: 1;
  flex: 1 1 auto;
  font-size: 1rem;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
  font-style: italic;
}

.div2 {
letter-spacing: -0.2rem;
    flex: 0 0 auto;
    font-size: 5rem;
    padding-top: 4.5rem;
    margin-right: 1rem;  
    font-style: italic;
}

.porcentaje{
  min-height: .5rem;
  font-size: 2rem;
}



.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4.5rem;
    line-height: 4rem;
    width: 80%;
}


.members.form-group.form-control{
  margin-top: 0;
}


/*provider-dashboard*/

.middle {
    width: 80%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.service:hover .image-container.dashboard {
    opacity: 0.5;
}

.service:hover .corner.dashboard {
    opacity: 0.5;
}

.service:hover .middle {
    opacity: 1;
}

.service.add {
  opacity: 1;
}

.service.add:hover .image-container {
    opacity: 1!important;
}

.edit {
    display: flex;
    justify-content: space-around;
    background-color: #000033;
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    opacity: 1;
    z-index: 1001;
}


.search-place {
  margin-top: 0;
}


.docepx{

    color: #2F2E2E;
    list-style: none;
    font-size: 12px;
    vertical-align: text-top;
}

.caracterizacion{
  font-size: .9rem;
}

.plus-img {
      font-size: 11rem;
    color: #000033;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-top{
  vertical-align: text-top;
}

.menu-name{
  font-size: .85rem;
}

.buttons-preview {
  display: flex;
  justify-content: space-around;
}

.company-logo-container {
  height: 9rem;
}

.company-logo {
  margin: 2rem;
}

.formacion,
.proveedores {
  display: none;
}
 


.service-toggle{
  display: none;
}

.tooltip-inner{
  background-color: #000033;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #000033;
}

.tooltip:active,
.tooltip:visited
 {
    visibility: hidden;
}


.footer-logos{
  margin-top: -30px;
  justify-content: space-between;
}

.logof img {
  width: 70%;
}


.provider-name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.jconfirm.jconfirm-white 
.jconfirm-box .jconfirm-buttons button, 
.jconfirm.jconfirm-light 
.jconfirm-box 
.jconfirm-buttons button{
  text-transform: none;
  font-weight: normal;
}

.center-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error404 {
  max-width: 50%;
  margin: 0 auto;
}

.tooltip {
  max-height: 300px;
}

.with-comments{
  background-color: deepskyblue;
}
.highlight{
  background-color: yellow;
}

.ls{
  letter-spacing: 1.2px;
}

.logos {
  width: 24%;
}

.row.footer-logos img {
    width: 70%;
}

.img-soon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
}

.form-group input[type="text"]::-webkit-input-placeholder {
  color: #B2BABB;
  font-style: italic;
}

.form-group input[type="number"]::-webkit-input-placeholder {
  color: #B2BABB;
  font-style: italic;
}

::placeholder {
  color: #B2BABB;
  font-style: italic;
}

:-ms-input-placeholder{
  color: #B2BABB;
  font-style: italic;
}

::-ms-input-placeholder{
  color: #B2BABB;
  font-style: italic;
}

.provider-image-solo { 
  background-size: contain;
  background-repeat: no-repeat;
}

.font-normal{
  font-style: normal;
    margin-top: 1rem;
    display: block;
}

.heart{
  font-size: 1.5rem;
  color: gainsboro;
}

.feature,
.featured{
  cursor: pointer;
}

.featured{
  color: #e7004b;
}

.errorNumber {
    font-weight: 600;
    color: #000033;
    font-size: 1.4rem;
}


.display-header,
.response-header{
      padding: 1rem;
      background-color: #000033;
      color: white;    
      background-size: cover;
      background-position-y: 45%;
      width: 100%;
}

.display-header-title {
    font-size: 2.5rem;
}

span.display-header-subtitle {
    letter-spacing: 0.2rem;
}
.stage {
    border-top: 6px solid #d4d4d4;
    padding: 1rem 2.5rem;
    text-align: left;
    background-color: #f7f7f7;
}

span.stage-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.sub-stage {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    justify-content: space-between;
    border-top-width: 3px;
    border-top-style: solid;
    color: white;
    background-size: cover;
    background-position: center 110%, center -10%;
    background-repeat: no-repeat, no-repeat;
    
}

.sub-stage-name{
    line-height: 5.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-stage-name>span {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
    text-align: left;
  }

.sub-stage-image {
    width: 20%;
}

.stage-content {
  display: none;
}
.arrow-up {
  display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.w-title {
    text-align: left;
    font-weight: bold;
    color: white;
    padding: .5rem 2.5rem;
    font-size: .9rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-blue{
  background-color: #0a0f44;
}

.blue{
  background-color: #29307e;
}

.w-body {
    text-align: left;
    padding: 1rem 2.5rem 0 2.5rem;
    padding-bottom: 2rem;
}

.gray{
  background-color: #f2f0f0;
}

.dark-gray{
  background-color: #d5d4d4;
}

.border-0, 
.border-1{
  padding-right: 0;
}
.border-1,
.border-2{
  padding-left: 0;
}

.row.filtered {
    margin-left: -22px;
    margin-right: -30px;
}

.sq:not(:first-child) {
    border-left: 2px solid #c0c0c0;
}

.sq {
    width: 20%;
    padding: 1rem 1.5rem;
  }

.sq.active:hover{
  background-color:lightgray;
}
.sq.active:hover:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sq.active:hover:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sq.selected{
  background-color:lightgray;
  border-color:lightgray;
  color: black!important;
}
.sq.selected:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sq.selected:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
 

  .affirmation-container{
    display: flex;
    border: 1px solid white;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-weight: bold;
  }

  .legend {
    display: flex;
    justify-content: space-between;
  }

  .name-type-2,
  .name-type-1 {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: .3rem;
    padding-right: 1rem;
    margin-bottom: 0.4rem;
    border-radius: .4rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #000033;
    cursor:pointer;
}

.type-2-selected{
    border-color: #000033;
    background-color:   #000033;
    color: white;
}

.type-4-selected{
  background-color: #000033;
}

.travel-wrapper{
overflow: hidden;
padding-top: 3rem;
height: 83vh;
}

.travel-wrapper-final{
  height: 90vh;
}

.wrapper-stmt{ 
  display: none;
  z-index: 1;
}

.wrapper{
display: flex;
}


.backgrounds-travel {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.stmts {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.name-type-3 {
  margin-bottom: 2rem;
}

.type-3 {
  margin-bottom: 3rem;
}

.name-type-4 {
    width: 60%;
    padding: .5rem;
    background-color: white;
    margin-bottom: .5rem;
    color: #000033;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.type-4 {
    text-align: center;
    margin-bottom: .5rem;
    color: white;
    background-color: lightgray;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.sq.active {
    cursor: pointer;
}

.custom-progress {
    margin-top: 0.5rem;
    width: 100%;
    height: .7rem;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.custom-progress-bar {
  background-color: #000033;
    height: 100%;
    position: absolute;
    line-height: inherit;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.travel > .row{
  margin-left: 0;
  margin-right: 0;
}

.travel-wrapper.row {
  margin-left: 0;
  margin-right: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.bar{
  height: 70vh;
  display: flex;
  flex-direction: row-reverse;
}

.dfcr{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2rem;
  margin-left: .5rem;
}

.enum {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .3rem;
}

.enum:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.mr-icon{
  margin-right: .5rem;
}

.message-final{
  font-size: 2rem;
}

.image-final-survey{
  width: 40%;
  margin-top: 3rem;
}

.btn-send-survey{
  display: flex;
  flex-direction: column-reverse;
  margin: 4rem;
}

.stairs-phrase{
      font-size: 1.6rem;
}

.same-level{
    font-size: 1.5rem;
    text-align: left;
    color: gray;
}

.view-more-recommendations{
      display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-view-more-service {
    font-size: 1.5rem;
}

.span-stages{
  color: gray;
}

.stage.w-100 {
    display: flex;
    justify-content: space-between;
}

.titles-response{
  display: none;
}

.borders-top-bottom{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#show-survey {
  display: none;
}

.team-name{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .3rem;
}

.team-title{
  margin-bottom: 2.5rem;
}

.form-check-label {
    padding-top: 1px;
}

.mb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}