:root {
--pde-red: #E7004B;
--pde-blue: #000033;
--pde-gray: #D3D3D3;
--pde-green: #80C560;
--pde-yellow: #FDDA0D;

--bold: 600;
--bolder: 900;

--header-height: 8rem;

--wrapper: 80%;

font-family: Barlow;


}

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

//WRAPPERS: Center and max-width body.
@mixin wrapper($width: 100%, $max-width: 100%) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    width: $width;
}

@mixin section_title() {
    font-size: 2.3rem;
    font-weight: var(--bold);
    color: var(--pde-blue);
}

/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/

/* Z-INDEX CONTROL */
$elements: header, modal, loading;

@function z($element) {
    @return index($elements, $element);
}

/* REM */
$base-fontsize: 16;
// PIXEL TO REM: height: rem(50) -> 3.125rem;
@function rem($px, $context: $base-fontsize) {
    @return ($px / $context) * 1rem;
}


